# Modules
node_modules
bower_components

# GruntBuild tmp folders
parts.min

# Builds
builds
build
tmp-*
buildAssets

COMMIT_MSG
debugSettings.js

# Bullshit
temp
.tmp
.sass-cache
.idea
.DS_Store
*.sublime-workspace