#wrapper .classic-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow-x: hidden;
  overflow-y: hidden;
}
#wrapper .classic-container .top-wrapper {
  -webkit-box-flex: 1;
  background: red;
}
#wrapper .classic-container .top-wrapper .viewport {
  width: 100%;
  height: 100%;
}
#wrapper .classic-container .top-wrapper .dials-wrapper {
  background: blue;
}
#wrapper .classic-container .top-wrapper .dials-wrapper .dial {
  width: 200px;
  height: 200px;
  display: block;
  float: left;
  margin: 20px;
  border: 1px solid black;
}
#wrapper .classic-container .top-wrapper .dials-wrapper .dial a.inner .thumbnail-wrapper {
  width: 200px;
  height: 150px;
}
#wrapper .classic-container .bottom-wrapper {
  height: 30px;
  width: 100%;
  background: blue;
}
