@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
    font-family: sans-serif, Arial, Verdana;
}
*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor:default;
    font-family: "Source Sans Pro";
}
#container{
    width:100%;
    height:100%;
    position: relative;
    &.blurred{
        -webkit-filter: blur(40px);
    }
}
#wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
    background-size:  cover;
    display: -webkit-box;
    -webkit-box-align:center;
    -webkit-box-orient: vertical;
    -webkit-transition: all 0.1 ease 0.2s;
    #search-placeholder{
        height: 70px;
        width:100%;
    }
    > .main{
        width:100%;
        -webkit-box-flex:1;
        display: -webkit-box;
        -webkit-box-align: center;
    }
}
.partner-logo {
    img {
        max-width:150px;
        max-height:150px;
        position:absolute;
        left:18px;
        bottom:0;
    }
}
section{
    width:100%;
    /* overflow:hidden; */
    margin: 0 auto;
    position: relative;
    height:475px;
    .page-indicator-container {
        position: relative;
        overflow: hidden;
        margin: 50px auto 0 auto;
        vertical-align: middle;
        text-align: center;
        span.dot {
            cursor:pointer;
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 5px;
            background: white;
            opacity:0.45;
            border-radius: 6px;
            &.active {
                opacity: 1;
            }
        }
    }
    .arrows{
        width:100%;
        height:100%;
        position: absolute;
        height: 475px;
        > .inner{
            position:relative;
            width:100%;
            height:100%;
            width: 1010px;
            margin:0 auto;
        }
        .arrow-left{
            position: absolute;
            height: 475px;
            display: -webkit-box;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            z-index: 9999999;
            i{
                font-size:50px;
                color: white;
                opacity: 0.5;
                -webkit-transition: opacity 0.5s ease;
                cursor:pointer;
            }
            &:hover{
                i{
                    opacity:1;
                }
            }
        }
        .arrow-right{
            position: absolute;
            right: 0;
            height: 475px;
            display: -webkit-box;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            i{
                font-size:50px;
                color: white;
                opacity:0.5;
                -webkit-transition: opacity 0.5s ease;
                cursor:pointer;
            }
            &:hover{
                i{
                    opacity:1;
                }
            }
        }
    }
    > .inner{
        width:880px;
        height: 475px;
        overflow:hidden;
        margin: 0 auto;
        position: relative;
    }
    .viewport{
        position: absolute;
        left:0;
        -webkit-transition: all 1.1s cubic-bezier(.54,.24,.59,1.34);
        &.last-page-left{
            //-webkit-transition: all 0.5s cubic-bezier(.54,.24,.59,1.34);
        }
        &.last-page-left.last-page-left-add,
        &.last-page-left.last-page-left-remove {
            //-webkit-transform: translate(500px, 0%) !important;
        }
        &.last-page-left.last-page-left-add-active,
        &.last-page-left.last-page-left-remove-active {
            //-webkit-transform: translate(0px, 0%) !important;
        }
        &.editing{
            .apps-container{
            }
            .app{
                .wrapper{
                    .remove-button{
                        display: block;
                    }
                }
                &.permanent{
                    .wrapper{
                        .remove-button{
                            display: none;
                        }
                    }
                }
                &:nth-child(odd) {
                    .wrapper{
                        -webkit-animation-name: tossing1;
                        -webkit-animation-duration: 1s;
                        -webkit-animation-iteration-count: infinite;
                    }
                }
                &:nth-child(even) {
                    .wrapper{
                        -webkit-animation-name: tossing;
                        -webkit-animation-duration: 1s;
                        -webkit-animation-iteration-count: infinite;
                    }
                }
            }
        }
    }
}
@-webkit-keyframes last-page-left-animation {
    0%{
        -webkit-transform: translate(0px, 0%);
    }
    50%{
        -webkit-transform: translate(500px, 0%);
    }
    100%{
        -webkit-transform: translate(0, 0%);
    }
}
.viewport.edit{
    .apps-container{
        .app{
            -webkit-transition: all 0.5s;
        }
    }
}
.apps-container{
    width: 880px;
    margin:auto;
    position: relative;
    height: 475px;
    float:left;
    .app{
        width: 140px;
        height: 100px;
        padding: 20px 41px 40px;
        position: absolute;
        float:left;
        display: inline-block;
        text-align: center;
        -webkit-transition: none;
        &:nth-child(1){
            -webkit-transform: translate3d(0% , 0, 0);
        }
        &:nth-child(2){
            -webkit-transform: translate3d(100% , 0, 0);
        }
        &:nth-child(3){
            -webkit-transform: translate3d(200% , 0, 0);
        }
        &:nth-child(4){
            -webkit-transform: translate3d(300% , 0, 0);
        }
        &:nth-child(5){
            -webkit-transform: translate3d(0% , 100%, 0);
        }
        &:nth-child(6){
            -webkit-transform: translate3d(100% , 100%, 0);
        }
        &:nth-child(7){
            -webkit-transform: translate3d(200% , 100%, 0);
        }
        &:nth-child(8){
            -webkit-transform: translate3d(300% , 100%, 0);
        }
        &:nth-child(9){
            -webkit-transform: translate3d(0% , 200%, 0);
        }
        &:nth-child(10){
            -webkit-transform: translate3d(100% , 200%, 0);
        }
        &:nth-child(11){
            -webkit-transform: translate3d(200% , 200%, 0);
        }
        &:nth-child(12){
            -webkit-transform: translate3d(300% , 200%, 0);
        }
        &:nth-child(13){
            -webkit-transform: translate3d(400% , 300%, 0);
        }
        &.dragging{
            -webkit-transform: none !important;
            -webkit-transition: none !important;
            .wrapper{
            }
        }
        .wrapper{
            position: relative;
            cursor: pointer;
            .remove-button{
                display: none;
                position: absolute;
                cursor:pointer;
                right:-5px;
                top:-5px;
                width:15px;
                height: 12px;
                background: red;
                border-radius: 4px;
                padding-top:2px;
                color:white;
                font-family: sans-serif;
                font-size:9px;
            }
            .icon{
                img {
                    border-radius: 15px;
                    width:90px;
                    height: 90px;
                    cursor:pointer;
                    &:active{
                        opacity:0.75;
                        transition:0.2s ease opacity;
                    }
                }
                border-radius: 15px;
                width:90px;
                cursor:pointer;
                height: 90px;
                margin:auto;
                border:0;
                &:active {
                    background:black;
                    box-shadow: 0 0 15px rgba(0, 0, 255, 0.4);
                }
            }
            .title{
                margin-top:20px;
                cursor:pointer;
                color:white;
                white-space: nowrap;
                font-size: 15px;
                font-weight: 400;
                text-overflow: ellipsis;
                overflow-x: hidden;
                text-shadow: 1px 1px 1px black;
            }
        }
    }
}
footer{
    position: fixed;
    box-sizing: border-box;
    bottom:0;
    width:100%;
    height: 120px;
    padding: 10px 0 0 0;
    background: white;
    opacity:0.7;
    background-image: url('../img/wallpapers/bg.jpg');
    background-size:  cover;
    -webkit-filter: blur(0px) contrast(0.8) brightness(1.4);
}

#loading-cover {
    position:fixed;
    width:100%;
    height:100;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:99999999;
    background:rgba(1, 0, 7, 0.94);
    .centered-block {
        width: 400px;
        height: 400px;
        color:white;
        border-radius: 15px;
        padding: 10px;
        margin: auto;
        position: absolute;
        text-align: center;
        top: 0;
        max-width: 100%;
        left: 0;
        bottom: 0;
        right: 0;
        max-height: 100%;
        overflow: hidden;
        .loading-text {
            text-align:center;
            vertical-align:middle;
        }
        .loading-image {
            height:80px;
            width:80px;
        }
    }
}
#overlay{
    width:0;
    height: 0;
    position: absolute;
    bottom:50%;
    left:50%;
    z-index:100;
    background:rgba(255,255,255,0.6);
    display:none;
    bottom:0;
    left:0;
    width:100%;
    height: 100%;
    &.showed{
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: center;
    }
    &.enlarged{
        .inner{
            width:750px;
            height:500px;
        }
    }
    .inner{
        width:0;
        height: 0;
        border-radius: 40px;
        position:relative;
        display: -webkit-box;
        -webkit-transition: all 0.4s ease;
        -webkit-box-orient : vertical;
        .header{
            font-size: 37px;
            font-weight: 400;
            text-align: center;
            vertical-align: bottom;
            padding-bottom: 12px;
            color: rgba(0,0,0,0.8);
        }
        > .main{
            background: rgba(255,255,255,1);
            -webkit-box-orient:horizontal;
            -webkit-box-flex:1;
            border-radius: 40px;
            display: -webkit-box;
            overflow:hidden;
            position:relative;
            .left{
                padding: 20px 0px;
                width:150px;
                ul{
                    list-style:none;
                    margin:0;
                    padding:0;
                    li{
                        //font-family: 'Helvetica Neue';
                        font-weight: 400;
                        padding: 10px 17px;
                        font-size: 13px;
                        cursor:pointer;
                        &.selected, &:hover{
                            font-weight: 800;
                        }
                    }
                }
            }
            .right{
                padding: 20px 0px;
                -webkit-box-flex:1;
                background: #F8F8F8;
            }
        }
    }
    #settings{
        .settings-about {
            .logo {
                text-align:center;
            }
            .details {
                width:350px;
                margin:0 auto;
                text-align:center;
                ul {
                    list-style-type:none;
                    margin:55px 0 0 0;
                    padding:0;
                    text-align:center;
                    li {
                        display:inline;
                        padding-right:20px;
                        a {
                            cursor:pointer;
                            color:black;
                            text-decoration:none;
                            font-size:16px;
                            &:hover{
                                color:grey;
                            }
                        }
                    }
                }
            }

        }
        .settings-general{
            ul.controls{
                list-style:none;
                margin:0;
                padding:0;
                li{
                    padding: 10px;
                    border-bottom:1px solid #e4e4e4;
                    .control{
                        display: inline-block;
                        margin-right:10px;
                        vertical-align: top;
                    }
                    div.details{
                        display: inline-block;
                        div.label{
                            margin-bottom:3px;
                        }
                        div.more-details{
                            font-size:12px;
                            color: #b5b5b5;
                        }
                    }
                }
            }
        }
        .settings-background{
            .loading-backgrounds {
                img{
                    margin:0 auto;
                    display:block;
                }
                h2 {
                    text-align:center;
                }
            }
            .bg-explorer{
                width:100%;
                height: 302px;
                overflow-y: auto;
                border-bottom: 1px solid rgb(234,234,234);

                .bg.sample {
                    img {
                        width:30px;
                        height:30px;
                        float:left;
                    }
                }
            }
            .bg-sample{
                width:80px;
                height:80px;
                float:left;
                background-size:cover;
                margin:9px;
                border-radius:10px;
                overflow:hidden;
                border: 1px solid rgba(0,0,0,0.2);
                cursor:pointer;
                &.selected{
                    margin:8px;
                    border: 2px solid rgb(255, 221, 0);
                }
            }
            .bg-upload{
                border-top: 1px solid rgb(255,255,255);
                height: 115px;
                width:100%;
                padding: 8px 12px;
                .image-selector{
                    float:left;
                    width:460px;
                    h2{
                        font-size: 13px;
                        font-weight: 400;
                        margin: 0 0 0px 0;
                        font-weight: bold;
                    }
                    input{
                        margin: 7px 0 9px;
                        &[type=text]{
                            width:310px;
                            outline:none;
                        }
                    }
                }
                .preview{
                    width:80px;
                    height:80px;
                    border-radius:10px;
                    overflow:hidden;
                    border: 2px solid rgb(255, 221, 0);
                    display: none;
                    position:relative;
                    > img{
                        width:100%;
                        height: 100%;
                    }
                    .loader{
                        position: absolute;
                        top: 0;
                        background: rgba(255,255,255,0.95);
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: none;
                        -webkit-box-align: center;
                        -webkit-box-pack: center;
                        &.showed{
                            display: -webkit-box;
                        }
                        img{
                            width:32px;
                            height:32px;
                        }
                    }
                }
            }
            .cropper{
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background:white;
                display: none;
                -webkit-box-orient : vertical;
                &.showed{
                    display: -webkit-box;
                }
                .header{
                    font-size: 25px;
                    padding: 14px;
                }
                .editor{
                    display: -webkit-box;
                    -webkit-box-orient : horizontal;
                    -webkit-box-flex:1;
                    .left{
                        -webkit-box-flex:1;
                        width:auto;
                        padding:4px 0;
                        h2{
                            font-size: 16px;
                            font-weight: 400;
                            text-align:center;
                        }
                        .original-image{
                            img{
                                border: 1px solid rgba(0, 0, 0, 0.5);
                                max-width: 250px;
                                max-height: 250px;
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                    .right{
                        -webkit-box-flex:1;
                        width:auto;
                        padding:4px 0;
                        background:none;
                        h2{
                            font-size: 16px;
                            font-weight: 400;
                            text-align:center;
                        }
                        .preview-image{
                            img{
                                border: 1px solid rgba(0, 0, 0, 0.5);
                                width: 250px;
                                height: 250px;
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                }
                .footer{
                    display:-webkit-box;
                    -webkit-box-pack:center;
                    -webkit-box-align:center;
                    height: 70px;
                }
            }
        }
    }
    #store{
        .main{
            .left{
            }
            .right{
                .store-explorer{
                    overflow:auto;
                    height: 376px;
                    .app{
                        float: left;
                        width: 195px;
                        height: 94px;
                        border-bottom: 1px solid rgb(240, 240, 240);
                        box-sizing: border-box;
                        border-top: 1px solid white;
                        border-left: 1px solid white;
                        border-right: 1px solid rgb(240,240,240);
                        padding:10px;
                        &.odd{
                            background: white;
                        }
                        .icon{
                            width: 65px;
                            height: 65px;
                            border-radius: 10px;
                            overflow: hidden;
                            float: left;
                            margin-right:10px;
                            img{
                                width:100%;
                                height: 100%;
                            }
                        }
                        .details{
                            .title{
                                font-weight: bold;
                                font-family: sans-serif;
                                font-size: 13px;
                                display: -webkit-box;
                                font-weight: 700;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                max-height: 32px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            .tag{
                                font-size: 12px;
                                font-weight: 400;
                                color: #999;
                                margin-top: 5px;
                            }
                            .is-installed{
                                margin-top:5px;
                                span{
                                    background: rgb(0, 216, 121);
                                    padding: 2px 6px;
                                    border-radius: 7px;
                                    font-size: 10px;
                                    font-family: sans-serif;
                                    color: white;
                                }
                            }
                            .install-button{
                                &:hover{
                                    span.free{
                                        display: none;
                                    }
                                    span.install{
                                        display: inline-block;
                                    }
                                }
                                span.free{
                                    display: inline-block;
                                    background: rgb(178, 178, 178);
                                    padding: 2px 6px;
                                    border-radius: 7px;
                                    font-size: 10px;
                                    font-family: sans-serif;
                                    color: white;
                                    cursor:pointer;
                                }
                                span.install{
                                    display: none;
                                    background: rgb(20, 189, 216);
                                    padding: 2px 6px;
                                    border-radius: 7px;
                                    font-size: 10px;
                                    font-family: sans-serif;
                                    color: white;
                                    cursor:pointer;
                                }
                                span.installing{
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
