.search-wrapper {
  width: 100%;
  height: 125px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-box;
  padding: 0 25px 0 15px;

  .inner{
    min-width: 400px;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
  }

  .input-container {
    -webkit-box-flex: 1;
    position: relative;
    .search-icon {
      position: absolute;
      top: 10px;
      left: 5px;
      background: url(../img/search-icon.png);
      width: 32px;
      height: 32px;
      background-size: 100% 100%;
      opacity: 0.5;
    }

    input.search-input {
      width: 100%;
      display: block;
      height: 50px;
      outline: none;
      line-height: 34px;
      padding-left: 44px;
      font-size: 14px;
      border: 1px solid #4196ed;
      box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2) inset;
      -webkit-animation: search-input-anim 3s infinite;
      &::-webkit-input-placeholder {
        -webkit-animation: search-input-placeholder-anim 3s infinite;
      }
      &:focus {
        -webkit-animation: none;
        border-color: #4196ed !important;
        box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset;
        &::-webkit-input-placeholder {
          -webkit-animation: none;
        }
      }
    }

  }

  button.submit-button {
    height: 50px;
    width: 130px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
  }
}

@-webkit-keyframes search-input-placeholder-anim {
  0% {
    color: #b6bbb6;
  }
  50% {
    color: #919591;
  }
  100% {
    color: #b6bbb6;
  }
}

@-webkit-keyframes search-input-anim {
  0% {
    border-color: #4196ed;
  }
  50% {
    border-color: #44a5ff;
  }
  100% {
    border-color: #4196ed;
  }
}


.search-wrapper .input-container input.search-input,
.search-wrapper .input-container input.tt-query,
.search-wrapper .input-container input.tt-hint {
  width: 100% !important;
  display: block;
  height: 50px;
  outline: none;
  line-height: 34px;
  padding-left: 44px;
  padding-right: 14px;
  font-size: 14px;
  border: 1px solid #4196ed;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2) inset;
  background: transparent !important;
  -webkit-animation: search-input-anim 3s infinite;
}
.search-wrapper .input-container input.search-input:focus,
.search-wrapper .input-container input.tt-query:focus,
.search-wrapper .input-container input.tt-hint:focus {
  -webkit-animation: none;
  border-color: #4196ed !important;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset;
}
.search-wrapper .input-container input.search-input:focus::-webkit-input-placeholder,
.search-wrapper .input-container input.tt-query:focus::-webkit-input-placeholder,
.search-wrapper .input-container input.tt-hint:focus::-webkit-input-placeholder {
  /* WebKit browsers */

  -webkit-animation: none;
}
.search-wrapper .input-container input.search-input::-webkit-input-placeholder,
.search-wrapper .input-container input.tt-query::-webkit-input-placeholder,
.search-wrapper .input-container input.tt-hint::-webkit-input-placeholder {
  /* WebKit browsers */

  -webkit-animation: search-input-placeholder-anim 3s infinite;
}
@-webkit-keyframes search-input-placeholder-anim {
  0% {
    color: #b6bbb6;
  }
  50% {
    color: #919591;
  }
  100% {
    color: #b6bbb6;
  }
}
@-webkit-keyframes search-input-anim {
  0% {
    border-color: #4196ed;
  }
  50% {
    border-color: #44a5ff;
  }
  100% {
    border-color: #4196ed;
  }
}
.search-wrapper button.submit-button {
  height: 50px;
  width: 130px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
}


/**
*  GENERAL TYPEAHEAD STYLES
*/
span.tt-dropdown-menu {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  padding: 0;
  margin-top: 5px;
  background: white;
  z-index: 9000;
}
span.tt-dropdown-menu span.tt-suggestions div.tt-suggestion {
  padding: 8px 20px;
  height: 27px;
  overflow: hidden;
  box-sizing: content-box;
}
span.tt-dropdown-menu div span.tt-suggestions div.tt-suggestion a {
  font-family: sans-serif;
  height: 30px;
  text-decoration: none;
  color: #333;
}
span.tt-dropdown-menu div.tt-dataset-suggestions span.tt-suggestions div.tt-suggestion a span {
  vertical-align: top;
}
span.tt-dropdown-menu div span.tt-suggestions div.tt-suggestion a span.icon {
  margin-right: 10px;
}
span.tt-dropdown-menu div span.tt-suggestions div.tt-suggestion a span.icon img {
  width: 24px;
  height: 24px;
}
span.tt-dropdown-menu div span.tt-suggestions div.tt-suggestion a span.title {
  height: 30px;
  line-height: 30px;
}
span.tt-dropdown-menu div span.tt-suggestions div.tt-suggestion a span.description {
  height: 30px;
  line-height: 30px;
  color: #8994ab;
}
span.tt-dropdown-menu div span.tt-suggestions div.tt-suggestion a.url span.title {
  color: #44a5ff;
}
span.tt-dropdown-menu  span.tt-suggestions div.tt-suggestion.tt-is-under-cursor {
  background: #fffeda;
}
ul.typeahead {
  list-style: none;
  position: absolute;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  padding: 0;
  margin-top: 5px;
  background: white;
  z-index: 9000;
}
ul.typeahead li {
  padding: 8px 20px;
  height: 27px;
  overflow: hidden;
  box-sizing: content-box;
}
ul.typeahead li a {
  font-family: sans-serif;
  height: 30px;
  text-decoration: none;
  color: #333;
}
ul.typeahead li a span {
  vertical-align: top;
}
ul.typeahead li a span strong {
  vertical-align: top;
}
ul.typeahead li a span.icon {
  margin-right: 10px;
}
ul.typeahead li a span.icon img {
  width: 24px;
  height: 24px;
}
ul.typeahead li a span.label {
  height: 30px;
  line-height: 30px;
}
ul.typeahead li a span.description {
  height: 30px;
  line-height: 30px;
  color: #8994ab;
}
ul.typeahead li.active {
  background: #fffeda;
}
