#settings.inner(ng-controller="SettingsCtrl")
    .header Settings
    .main
        .left
            ul
                li(ng-repeat="pane in panes", ng-class="{selected : (selectedPane == pane)}", ng-click="selectPane(pane, $event)", ng-bind="pane")
        .right(ng-switch="selectedPane")
            .settings-general(ng-switch-default)
                ul.controls
                    li
                        .control
                            .squaredFour
                                input#squaredFour(name="check", ng-change="toggleShowSearch()" ng-model="config.user_preferences.show_search_box", value="None", type="checkbox")
                                label(for="squaredFour")
                        .details
                            .label Show Search Box
                            .more-details Use our smart search box to search the web and launch your favorite web apps
            .settings-background(ng-switch-when="Background", ng-controller="BackgroundCtrl")
                .loading-backgrounds(ng-show="loading")
                    img(src="img/favicons/128x128.png")
                    h2 Please wait...
                .bg-explorer(ng-show="!loading")
                    .bg-sample(ng-repeat="bg in backgrounds", ng-style="{'background-image':'url(' + bg.thumbnail + ')'}", ng-class="isActiveBg(bg)", ng-click="selectBackground(bg, $event)")
                        //- custom user image
                        img(ng-show="bg.isCustom", src="./img/custom_user.png")
                .bg-upload(hl-background-local-image, ng-show="!loading")
                    .image-selector
                        h2 Select your own image
                        input(type="file", id="localImageFile")
                        h2 Enter image url
                        input(type="text", id="remoteImageUrl", ng-keypress="remoteUrlKeyPress($event)")
                    .preview
                        .loader
                            img(src="./img/loader.gif")
            .settings-about(ng-switch-when="About")
                .logo
                    img(src="./img/favicons/128x128.png")
                .details
                    h2 {{config.app_name || '#{appName}'}}
                    h3 Version: {{clientVersion}}
                    ul
                        li
                            a(href="https://docs.google.com/forms/d/1TSZ2aEQSj2AtzuGPA7u1i7qaBqTYzBCmMsdgtnFacS8/viewform", target="_blank") Feedback
                        li
                            a(href="http://www.gamestab.me/privacy.html", target="_blank") Privacy Policy
                        li
                            a(href="http://www.gamestab.me/tos.html", target="_blank") Terms of Use
