#store.inner(ng-controller="StoreCtrl")
    .header Web Apps Store
    .main
        .left
            ul
                li(ng-repeat="tag in tags", ng-class="{selected : (selectedTag == tag)}", ng-click="selectTag(tag, $event)") {{tag}}
        .right
            .store-explorer
                .app(ng-repeat="app in selectedTagApps", ng-class-odd="'odd'")
                    .icon
                        img(ng-src="{{app.icon}}")
                    .details
                        .title {{app.title}}
                        .tag {{app.tags[0]}}
                        .is-installed(ng-show="isInstalled(app)")
                            span Installed
                        .install-button(ng-show="!isInstalled(app)", ng-click="install(app, $event)")
                            span.free Free
                            span.install Install
