#store.inner(ng-controller="StoreCtrl")
    .header Web Apps Store
    .main
        .left
            ul
                li(ng-repeat="tag in tags", ng-class="{selected : (selectedTag == tag)}", ng-click="selectTag(tag, $event)", ng-bind="tag")
        .right
            .store-explorer
                .app(ng-repeat="app in selectedTagApps", ng-class-odd="'odd'")
                    .icon
                        img(ng-src="{{app.icon}}", fb-src="./img/dials/default.png")
                    .details
                        .title(ng-bind="app.title")
                        .tag(ng-bind="app.tags[0]")
                        .is-installed(ng-show="isInstalled(app)")
                            span Installed
                        .install-button(ng-show="!isInstalled(app)", ng-click="install(app, $event)")
                            span.free Free
                            span.install Install
                            span.installing
