doctype 5
html(ng-csp='ng-csp')
    head
        link(href='img/favicons/favicongray16.png', rel='shortcut icon')
        link(href='css/style.css', rel='stylesheet')
        link(href='css/bootstrap.css', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='google', content='notranslate')
        script(src='./js/env.js')
        script(src='./js/libs/jquery.2.0.1.min.js')
        // load common modules
        script(src='js/libs/common.js')
        script(src='./js/modules/Storage.js')
        script(src='./js/modules/Config.js')
        script(src='./js/first.js')
        title New Tab
    body(ng-controller='MainCtrl')
        // .main-loading-wrapper<img src="/img/loader.light.bg.gif"/>
        div#wrapper
        // load jquery, angular and libs
        script(src='./js/libs/underscore.min.js')
        script(src='./js/libs/uri.js')
        script(src='./js/libs/moment.min.js')
        script(src='./js/libs/jFeed.js')
        script(src='./vendor/bootstrap/js/bootstrap.js')
        // ///////////////////////////////
        script(src='./js/build/newtab.js')
