html(xmlns='http://www.w3.org/1999/html', ng-csp='ng-csp')
head
    link(href='img/favicons/favicongray16.png', rel='shortcut icon')
    link(href='css/style.css', rel='stylesheet')
    link(href='css/bootstrap.css', rel='stylesheet')

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='google', content='notranslate')


    script(src='./js/env.js')
    //load common modules
    script(src='js/libs/common.js')
    script(src='./js/modules/Storage.js')

    script(src='./js/first.js')

    script(src='./js/libs/jquery.2.0.1.min.js')
    script(src='./js/libs/angular.js')

    script(src='./js/second.js')



    title New Tab
body.searchy(ng-controller='MainCtrl')
    .searchy-wrapper.search-wrapper(ng-controller="SearchCtrl",style="")
        .inner(style="")
            input(placeholder="Search the web or launch an app...", ng-model="query", typeahead = 'suggestion as suggestion.title for suggestion in getSuggestions($viewValue) | filter:{title: $viewValue} | limitTo:8', search-input)
            img(src="/img/search-icon.png")



    //load jquery, angular and libs
    script(src='./js/libs/ng-infinite-scroll.js')
    script(src='./js/libs/underscore.min.js')
    script(src='./js/libs/restangular.js')
    script(src='./js/libs/uri.js')
    script(src='./js/libs/jFeed.js')



    /////////////////////////////////
    if currentBuildPath
        script(src='./js/build/newtab.js')
    else
        //load angular FILTERS
        script(src='./js/angular/filters.js')
        //load angular DIRECTIVES
        script(src='js/angular/directives/directives.js')
        //load angular SERVICES
        script(src='js/angular/services/services.js')
        script(src='js/angular/services/UserService.js')
        script(src='js/angular/services/CidService.js')
        script(src='js/angular/services/HistoryService.js')
        script(src='js/angular/services/FilesStorageService.js')
        script(src='js/angular/services/ImageService.js')
        script(src='js/angular/services/ScreenshootService.js')
        script(src='js/angular/services/InjectService.js')
        script(src='js/angular/services/AnalyticsService.js')
        script(src='js/angular/services/ChromeAppsService.js')
        script(src='js/angular/services/TopSitesService.js')
        script(src='js/angular/services/NewsFeed.js')
        script(src='js/angular/services/NewsSources.js')
        script(src='js/angular/services/CustomRestangular.js')
        script(src='js/angular/services/LocalFeeds.js')
        script(src='js/angular/services/BGPort.js')
        script(src='js/angular/services/GeoLocationService.js')
        script(src='js/angular/services/WeatherService.js')
        script(src='js/angular/services/BoosterService.js')




        //load angular CONTROLLERS
        script(src='js/angular/controllers/MainCtrl.js')
        script(src='js/angular/controllers/SearchCtrl.js')
        script(src='js/angular/controllers/NewsReaderCtrl.js')
        script(src='js/angular/controllers/DialsCtrl.js')
        script(src='js/angular/controllers/NewsSourcesCtrl.js')
        script(src='js/angular/controllers/WeatherCtrl.js')

        //load angular main newtab app
        script(src='./js/newtab.js')

    /////////////////////////////////

    // typeahead
    script(src="vendor/ui-bootstrap/bindHtml.js")
    script(src="vendor/ui-bootstrap/position.js")
    script(src="vendor/ui-bootstrap/typeahead.js")
