html(ng-csp='ng-csp')
    head
        link(href='img/favicons/favicongray16.png', rel='shortcut icon')
        link(href='css/style.css', rel='stylesheet')
        link(href='css/bootstrap.css', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='google', content='notranslate')
        script(src='./js/libs/require.js', data-main='js/background')
    body
