doctype 5
html(ng-csp='ng-csp')
    head
        link(href='fonts/fontello/css/fontello.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='google', content='notranslate')
        script(src='./js/libs/jquery.js')
        script(src='./js/libs/jquery.ui.js')
        script(src='./js/libs/angular.js')
        script(src='./js/libs/underscore.js')
        script(src='./js/vendor/sortable.js')
        script(src='./js/app.js')
        script(src='./js/controllers.js')
        script(src='./js/services.js')

        title GamesTab
        //----------------
    body(ng-controller='MainCtrl')
    #wrapper(hl-background)

        .search1
            iframe.blurred-background
            .search-input
                input(placeholder="Web Search...")
        .main
            section(hl-launcher)
                .arrows
                    .inner
                        .arrow-left
                            i.icon-left-open-big
                        .arrow-right
                            i.icon-right-open-big
                .inner
                    .viewport(hl-viewport)
                        .apps-container.screen(ui-sortable="sortableOptions", ng-model="screen", ng-repeat="screen in rawScreens")
                            .app(ng-repeat="app in screen", data-title="{{app.title}}", ng-click="launchApp(app, $event)")
                                .wrapper
                                    .remove-button
                                    .icon(style="background-image: url('{{app.icon}}')")
                                    .title {{app.title}}
    #overlay(hl-overlay, overlay-options="overlay", ng-include="templateURL")
