doctype html
html(ng-csp='ng-csp')
    head
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='google', content='notranslate')

        link(href='fonts/fontello/css/fontello.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')

        script(src='./js/vendor/jquery.min.js')
        script(src='./js/vendor/angular.min.js')
        script(src='./js/vendor/async.js')
        script(src='./js/vendor/jquery-ui.js')
        script(src='./js/vendor/fallback-src.js')
        script(src='./js/vendor/ngProgress.min.js')
        script(src='./js/vendor/lodash.min.js')
        script(src='./js/vendor/jquery.ui.core.js')
        script(src='./js/vendor/jquery.ui.mouse.js')
        script(src='./js/vendor/jquery.ui.sortable.js')
        script(src='./js/vendor/jquery.ui.widget.js')
        script(src='./js/vendor/sortable.js')

        //include main scripts
        <!-- build:js(src) ./js/scripts.min.js -->
        <!-- inject:js -->
        <!-- endinject -->
        <!-- endbuild -->

        title GamesTab
        //----------------
    body(ng-controller='MainCtrl')
    #container
        #search-wrapper
            .search1(ng-show="displayTopSearchBox")
                iframe.blurred-background
                .search-input
                    .input-holder
                        input(type="text", class="hidden", style="width:0;height:0;display:inherit;")
                        input(autofocus="", placeholder="Web Search...", ng-keypress="goSearch($event)", ng-model="searchQuery", id="search-input", aio-search-box)
            .suggestions(aio-search-suggestions)
                .suggestions-wrapper
                    div(class="suggestion", ng-repeat="suggestion in suggestions.data", ng-class="{selected : currentSuggestion == $index}", ng-click="launchSuggestionByClick(suggestion, $event)")
                        span.icon(ng-show="suggestion.icon")
                            img(ng-src="{{suggestion.icon}}")
                        span.details
                            span.title(ng-bind="suggestion.title")
                            span.description(ng-show="suggestion.description", ng-bind="suggestion.description")

        #wrapper(hl-background)
            #search-placeholder
            .main
                section(hl-launcher)
                    .arrows
                        .inner
                            .arrow-left
                                i.icon-left-open-big
                            .arrow-right
                                i.icon-right-open-big
                    .inner
                        .viewport(hl-viewport, ng-class="{editing : isEditing}")
                            .apps-container.screen(ui-sortable="sortableOptions", ng-model="screen", ng-repeat="screen in rawScreens")
                                .app(ng-repeat="app in screen", data-title="{{app.title}}", ng-click="launchApp(app, $event)", hl-long-press="longPress(app, $event)", ng-class="{permanent : app.permanent}")
                                    .wrapper
                                        .remove-button(ng-click="uninstallApp(app, $event)") X
                                        .icon
                                            img(ng-src="{{app.icon}}", fb-src="./img/dials/default.png", alt="{{app.title}} Logo")
                                        .title(ng-bind="app.title")
                .partner-logo
                    a(ng-href="{{config.partner_url}}", target="_self", title="{{config.partner_name}}")
                        img(ng-src="{{config.partner_logo}}", style="cursor:pointer;")
    #overlay(aio-overlay, overlay-options="overlay", ng-include="templateURL")
