doctype 5
html(ng-csp='ng-csp')
    head
        link(href='fonts/fontello/css/fontello.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='google', content='notranslate')
        script(src='./js/libs/jquery.js')
        script(src='./js/libs/angular.js')
        script(src='./js/libs/underscore.js')
        //script(src='./js/libs/jquery.ui.js')
        script(src='./js/vendor/jquery.ui.core.js')
        script(src='./js/vendor/jquery.ui.widget.js')
        script(src='./js/vendor/jquery.ui.mouse.js')
        script(src='./js/vendor/jquery.ui.sortable.js')
        script(src='./js/vendor/sortable.js')
        script(src='./js/app.js')
        script(src='./js/controllers.js')
        script(src='./js/services.js')
        script(src='./js/directives.js')


        title GamesTab
        //----------------
    body(ng-controller='MainCtrl')
    #wrapper(hl-background)
        .search2(ng-show="displayTopSearchBox")
            iframe.blurred-background
            .search-input
                input(placeholder="Web Search...", ng-keypress="goSearch($event)", ng-model="searchQuery", id="search-input")
        .main
            section(hl-launcher)
                .arrows
                    .inner
                        .arrow-left
                            i.icon-left-open-big
                        .arrow-right
                            i.icon-right-open-big
                .inner
                    .viewport(hl-viewport, ng-class="{editing : isEditing}")
                        .apps-container.screen(ui-sortable="sortableOptions", ng-model="screen", ng-repeat="screen in rawScreens")
                            .app(ng-repeat="app in screen", data-title="{{app.title}}", ng-click="launchApp(app, $event)", hl-long-press="longPress(app, $event)", ng-class="{permanent : app.permanent}")
                                .wrapper
                                    .remove-button(ng-click="uninstallApp(app, $event)") X
                                    .icon(style="background-image: url('{{app.icon}}')")
                                    .title {{app.title}}
    #overlay(hl-overlay, overlay-options="overlay", ng-include="templateURL")
