html
    head
        link(href='styles/main.css', rel='stylesheet')
        // build:js scripts/options.js
        script(src='js/options.js')
        //- endbuild
    body
        //- CHROME EXTENSION OPTION
